/*
   New Perspectives on HTML and XHTML 5th Edition
   Tutorial 5
   Case Problem 3

   dHome Web Site Style Sheet
   Author: Alex Kolar
   Date: 7/1/2012

   Filename:         dome.css
   Supporting Files: domepaper.jpg, leftbox.jpg, rightbox.jpg

*/

body             {margin: 0px; padding: 0px; font-size: 15px; 
                  font-family: Arial, Helvetica, sans-serif;
                  background: url(domepaper.jpg) no-repeat 0% 0%}
#head            {position: absolute; top: 0px; left: 0px}
#links           {position: absolute; top: 60px; left: 5px; width: 750px;
                  border-bottom: 2px solid rgb(132,208,195)}

#pageContent     {position: absolute; top: 115px; left: 15px; width: 750px}
#pageContent p b {color: rgb(82,158,145); letter-spacing: 3px}
address          {font-style: normal; font-variant: small-caps; text-align: center;
                  border-top: 2px solid rgb(132,208,195)}

#links ul {list-style-type:none; padding:0px; margin:5px 0px 0px 5px}
#links li {display:inline; float:left; font-size:14px; margin-right:5px; background:url(rightbox.jpg) no-repeat right center}
#links a {display:block; color:black; padding:10px 15px 10px 15px; background:url(leftbox.jpg) no-repeat left center}
#links a:link {text-decoration:none}
#links a:visited {text-decoration:none}
#links a:hover {color:blue; text-decoration:none}
#links a:active {text-decoration:none}








