body {
    font-family: Arial, Helvetica, sans-serif;
    background: #666666;
}

#content {
    width: 450px;
	height: 100%;
    margin: 10px auto;
    padding: 5px 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

label {
    display: block;
    width: 10em;
    text-align: right;
    padding-right: 1em;
    float: left;
}

input {
    display: block;
    float: left;
}

#studentscores {
	width: 100%;
	height: 10em;
	border: 1px solid black;
}

#addstudentscores {
	margin-left: 40%;
}

#clearstudentscores {
	margin-left: 40%;
}

#sortlastname {
	margin-left: 40%;
}

br {
    clear: left;
}