/*
   New Perspectives on HTML and XHTML 5th Edition
   Tutorial 4
   Review Assignment

   Online Scrapbooks Style Sheet
   Author: Alex Kolar
   Date: 6/20/2012

   Filename:         screen.css
   Supporting Files: back.jpg, marker.gif

*/

body                {margin: 0px; color: black; 
                     background: white url(back.jpg) repeat-y}
h1, h2, h3          {font-family: Arial, Helvetica, sans-serif; color: black; margin: 0px}
h3                  {font-size: 10pt}
h1                  {border-bottom: 2px solid orange; background-color: white; margin: 0px; 
                     padding: 0px}
ul                  {margin-top:0px}

#outer_container    {width: 780px}
#head               {text-align: right}

#links              {float: left; width: 200px}
#links li.newGroup {margin-top:20px}
#links li.subGroup {margin-left:20px}
#links ul {list-style-type:none; margin-left:15px; padding-left:0px}
#links a:link {text-decoration:none}
#links a:visited {text-decoration:none}
#links a:hover {color:black; background-color:white; text-decoration:underline}
#links a:active {text-decoration:none}

#content            {margin-left: 200px}
#content ul {list-style-image:url(marker.gif) }

#samples_container {position:relative; top:0px; left:0px; height:450px}
.samples img {width:150px; height:193px; border-width:0px}

.samples {position:absolute}
#sample1 {left:0px; top:0px}
#sample2 {left:170px; top:0px}
#sample3 {left:0px; top:220px}
#sample4 {left:170px; top:220px}


address             {text-align: center; font-style: normal; font-variant: small-caps;
                     border-top: 2px solid orange; color: orange; padding-bottom: 50px;
                     }

