/*
*/

body {color:white; background:black url(back1.gif) repeat-y; margin:0px}
h1 {font-family:Courier New, monospace; font:24; letter-spacing:10; line-height:0.7; text-align:center; color:yellow; background-image:url(back2.gif); margin:0px}
b {color:yellow}
p {text-indent:2em}

#pageContent {width:670px; margin-left:100px; font-family:Arial, Helvetica, sans-serif}
#logo {width:95px; height:78px; float:left}
#scytale {width:250px; height:2px; /*height:69px;*/ float:right}