body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333366; }
#content {
    width: 450px;
    margin: 10px auto;
    padding: 5px 20px;
    background: white;
    border: thin solid black;
    height: 600px; 
}
#salesTax, #total {
    color: black; 
}
#sampleBox label {
    display: block;
    width: 6em;
    text-align: right;
    padding-right: 1em;
    float: left; 
}
#sampleBox input {
    display: block;
    float: left; 
}
#sampleBox br {
    clear: left; 
}
