body{
	background-color:#000000;
    font-family: "Courier New", Courier, monospace;
	color: green;
	font-weight: bold;
}
#links {
	text-align: center;
}
#content {
	position: center;
    width: 760px;
    margin: 10px auto;
    padding: 5px 20px;
    border: 2px solid black;
}

a:link{
	font-size:16px;
	font-weight:bold;
	color:green;
	text-decoration:none;
}
a:visited{
	font-size:16px;
	font-weight:bold;
	color:white;
	text-decoration:line-through;
}
a:hover{
	font-size:18px;
	font-weight:bold;
	color:white;
	text-decoration:underline overline;
	background:green;
}
a:active{
	font-size:16px;
	font-weight:bold;
	color:white;
	text-decoration:underline overline;
}