body {
    font-family: "Courier New", Courier, monospace;
    background: #666666;
}

h1 {
	text-decoration: underline overline;
}

#content {
	position: center;
    width: 760px;
    margin: 10px auto;
    padding: 5px 20px;
    background: #B0B0B0;
    border: 2px solid black;
}

#links {
	text-align: center;
}

.carousel {
    border: 1px solid black;
    background-color: lightGrey;
}

.carousel img {
    border: none;
}
.center { text-align: center; }

.instructions {
	list-style-type: circle;
    color: white;
    font-size: 75%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}