div.clasp {
	text-align:center;
}
div.layer {
	/*Any properties you'd want the box to have.*/
	/*Would probably be position, dimension type stuff.*/
	/*Though personally I would have a div outside this to control the dimensions.*/
	position:absolute;
	height:100%;
	width:100%;
	left:20px;
	top:0px;
	z-index:1;
	display:none;
}
/*Make this box the Flash box*/
/*Original: position:relative;*/
div.flash {
	background-color:transparent;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	z-index:3;
}
/*Make this box the text box*/
div.text {
	background-color:black;
	height:100%;
	filter:alpha(opacity=40); /* IE's opacity*/
	left:0px;
	opacity:0.40;
	position:absolute;
	top:0px;
	width:100%;
	z-index:2;
}
