/*Alex Kolar
6/23/2012
*/

body {font-family:Arial, Helvetica, sans-serif; margin:0px}

#Portrait {float:left; margin:15px}
img {position:relative; left:10px; top:0px}

#List {float:left; margin:15px}
.TopList {list-style-type:none; font-size:20}
.SubList {list-style-type:upper-alpha; font-size:17}

#Links {float:left}
a {display:block; margin:15px 0px 5px 15px; background-color:purple; color:yellow; width:60px; padding:2px; border:1px solid purple}
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:underline; background-color:yellow; color:purple}
a:active {text-decoration:none}

#Content {clear:left; margin:5px}
.first:first-line {font-variant:small-caps}
.first:first-letter {float:left; margin:0px 5px 5px 0px; font-size:300%; line-height:0.75; color:purple}
.beyond {text-indent:20px}