/*
Alex Kolar
July 2012

This is the stylesheet for the table on the buddhism.htm page.
*/

.suffering img {display:block; margin-left:auto; margin-right:auto}
.suffering td {font-family:Arial, Helvetica, sans-serif; font-size:14}